// colors
$BLACK: #000;
$WHITE: #fff;
$GRAY: #aaa;
$GRAY-1: gray;
$GRAY-LIGHT: #f2f2f7;
$GRAY-DARK: #7b7b7b;
$BLUE: #0064a2;
$BLUE-LIGHT: #0593ea;
$RED: #d0021b;
$RED-LIGHT: #ff151f;

// screen resolutions
$extra-small-screen: 480px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

// font sizes
$font-size-extra-small: 10px;
$font-size-extra-large: 18px;
$font-size-small-2: 11px;
$font-size-small-1: 12px;
$font-size-small: 13px;
$font-size-base: 14px;
$font-size-base-1: 15px;

// borders
$BORDER-RADIUS: 4px;
